@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---padding-inline-section: 20px;
}

body {
  font-family: "Geologica", sans-serif;
}

h1 {
  /* font-size: 3rem; */
  font-size: 52px;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(---padding-inline-section);
}

.flex {
  display: flex;
  align-items: center;
}
.company-img {
  width: 70px;
}
ul {
  list-style: none;
}
.main-nav {
  justify-content: space-around;
  /* gap: 20px; */
  /* position: relative; */
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
  height: 64px;
}
.nav-links {
  gap: 20px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}
.nav-toggle {
  display: none;
}
.nav-ul {
  gap: 20px;
}
.nav-ul a {
  color: white;
}
.company-logo {
  color: white;
}
.sign-up-btn {
  padding: 6px 7px;
  border-radius: 30px;
  background-color: white;
  color: black !important;
}
.logo-li {
  margin-left: 20px;
}
.nav-ul li:hover {
  background-color: #282828;
  border-radius: 30px;
  /* padding: 6px 7px; */
}
/* ======hero section ========  */

.hero-main-div {
  margin-top: 50px;
}
.hero-left {
  width: 50%;
}
.hero-right {
  height: 400px;
}

/* --------===MapSection====------- */
.icon-btn {
  padding: 7px;
  border: none;
  border-radius: 10px;
}

.facar {
  font-size: 1.5rem;
}
.icon1,
.icon2 {
  flex-direction: column;
  align-items: center;
  border: none;
}

.icons-div {
  gap: 30px;
  margin-top: 60px;
}
.map-main-div {
  padding-block: 50px;
  /* gap:20px; */
  justify-content: space-between;
}
.icon-btn p {
  /* font-size: 12px; */
  /* font-weight: 500; */
  line-height: 20px;
}
.pickup-input,
.drop-input {
  width: 80%;
  padding: 15px;
  border-radius: 6px;
  margin-top: 20px;
  background-color: #f3f3f3;
  border: none;
}
.input-boxes {
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.day-input {
  width: 46%;
  padding: 15px;
  border-radius: 6px;
  margin-top: 20px;
  background-color: #f3f3f3;
  border: none;
}
.day-flex {
  gap: 15px;
}
.price-btn {
  padding: 14px 25px;
  border-radius: 8px;
  text-align: center;
  background-color: #333333;
  color: white;
  border: none;
}
.price-button {
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 12px;
}
.activity-para {
  background: transparent;
  text-decoration: none;
  color: black;
}
.activity-para1 {
  background: transparent;
  text-decoration: none;
  color: black;
}

.right-map {
  width: 550px;
  height: 500px;
}
.right-map img {
  width: 100%;
}

/* ------Suggestion -------  */

.sugg-main-div {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
}
.sugg-1 {
  width: 32%;
}
.sugg-1-left p {
  font-size: 12px;
  margin-block: 10px;
  font-weight: normal;
  line-height: 20px;
  padding-right: 8px;
}
.sugg-1-left h5 {
  font-size: 16px;
  font-weight: 500;
}
.detail-btn {
  padding: 10px 12px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 30px;
  border: none;
}
.sugg-1 {
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 10px;
  margin-top: 4px;
}
.sugg-1-right img {
  height: 128px;
}

.sugg-1 a {
  text-decoration: none;
  color: inherit;
}
.detail-btn {
  cursor: pointer;
  transition: 0.2s ease-out;
}
.detail-btn:hover {
  background-color: rgb(221, 221, 221);
}
.main-suggestion {
  gap: 18px;
  flex-wrap: wrap;
}
.heading-div {
  margin-bottom: 20px;
}

/* ------main-activity------ */
.main-activity-box {
  align-items: flex-start;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
}

.activity-para p {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.activity-para1 p {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.activity-para {
  margin-block: 20px;
}
.activity-para1 {
  margin-block: 20px;
}
.act-btn {
  padding: 16px 26px;
  background-color: #282828;
  color: white !important;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}
.activity-btn {
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.activity-btn a {
  text-decoration: none;
  color: black;
  font-weight: 200;
}
.activity-left {
  height: 370px;
}

/* -------cards ------  */

.main-cards-div {
  margin-top: 100px;
  justify-content: space-between;
}
.cards-right-div {
  width: 40%;
}
.cards-right-div p {
  margin-block: 40px;
  font-weight: 200;
  line-height: 24px;
  text-align: left;
  width: 95%;
}
h2 {
  font-weight: 600;
  font-size: 35px;
}
.card-anchor {
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: 300;
  background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
    linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
  background-position: 0 bottom, 0 bottom;
  background-repeat: no-repeat;
  padding-bottom: 6px;
  transition: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
}
.card.anchor:hover {
  background-size: 100% 6px, 100% 6px;
}
.card-anchor-div {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  align-items: center;
}

/* ---=====Barcode ====== */
.full-app-section {
  background-color: #f6f6f6;
}
.download-main-div {
  margin-top: 100px;
  width: 100%;
  padding: 50px 0px;
}
.main-barcode-div {
  margin-top: 50px;
  justify-content: space-between;
}
.main-barcode-div a {
  text-decoration: none;
  color: black;
}
.app-content h3 {
  font-weight: 450;
}
.app-content p {
  font-weight: 250;
}
.barcode {
  height: 150px;
  width: 150px;
  gap: 20px;
}
.barcode img {
  width: 100%;
  height: 100%;
}
.left-barcode {
  gap: 30px;
  padding: 20px;
  background-color: white;
}

/* --------Footer Section ------- */
.footer-section {
  background-color: #000000;
}
.footer-img {
  width: 70px;
}
.footer-div {
  padding: 100px 0px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.uber-logo {
  margin-bottom: 20px;
}
.footer-div a {
  text-decoration: none;
  color: white;
}
.flex-direction {
  flex-direction: column;
}
.company-list {
  margin-block: 100px;
  color: white;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}
.company-list li {
  font-weight: 150;
  font-size: 15px;

  line-height: 20px;
}
.company-list h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* margin-bottom: 20px; */
}
.lists-div {
  align-items: flex-start;
  gap: 100px;
  justify-content: space-around;
  width: 100%;
}
.company-list a:hover {
  color: #afafaf;
}
.social-box {
  width: 50%;
  justify-content: space-between;
  font-size: 18px;
}
.social-box a {
  height: 48px;
  width: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.social-box a:hover {
  background-color: #282828;
}
.social-main-box {
  width: 100%;
  justify-content: space-between;
}
.global-box {
  color: white;

  justify-content: space-around;
  align-items: flex-end;
}
.language-box {
  gap: 10px;
  margin-right: 20px;
}
.location-box {
  gap: 10px;
}
.google-play-img {
  height: 60px;
}
.apple-store-img {
  height: 40px;
}
.app-store {
  display: flex;
  margin-block: 50px;
  justify-content: flex-start;
}
.privacy-content {
  color: white;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  width: 100%;
  justify-content: space-between;
}
.privacy-content a {
  color: #afafaf;
}
.terms {
  gap: 40px;
}

.media-para {
  display: none;
}

/* -----media queries------ */

@media screen and (max-width: 1099px) {
  .main-barcode-div {
    gap: 15px;
  }
  .map-heading h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 1042px) {
  .sugg-1-left p {
    line-height: 15px;
  }
}

@media screen and (max-width: 1018px) {
  .act-btn {
    padding: 12px 22px !important;
  }
}

@media screen and (max-width: 991px) {
  .responsive-nav {
    justify-content: last baseline;
  }
  .right-map {
    display: none;
  }
  h1 {
    font-size: 44px;
  }
  .map-heading {
    display: flex;
    gap: 10px;
  }

  .icons-div {
    display: none;
  }
  .day-flex {
    display: none;
  }
  .media-para {
    display: block;
    margin-top: 20px;
  }
  .map-main-div {
    background-color: #000000;
    color: white;
  }
  .price-btn {
    background-color: white;
    color: #000000;
  }
  .activity-para {
    color: white;
  }
  .sugg-1 {
    width: 48%;
  }
  .main-activity-box {
    flex-direction: column;
  }
  .activity-heading {
    display: flex;
    gap: 10px;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .activity-btn {
    flex-direction: initial;
    align-items: center;
  }
  .activity-right {
    width: 100%;
  }
  .activity-right img {
    width: 100%;
  }
  .main-cards-div {
    flex-direction: column-reverse !important;
    width: 100%;
  }
  .cards-right-div {
    width: 100%;
    padding-block: 20px;
  }
  .cards-left-div {
    width: 100%;
  }
  .cards-left-div img {
    width: 100%;
    height: 500px;
  }
  .activity-left {
    height: 250px;
  }

  .main-barcode-div {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .left-barcode {
    width: 555px;
  }
  .nav-links {
    position: absolute;
    background-color: black;
    left: -100%;
    top: 64px;
    width: 100%;
    padding-block: 20px;
  }
  .nav-links.active {
    left: 0;
  }
  .display-none {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 20px;
    color: white;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .main-nav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .lists-div {
    gap: 80px;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 692px) {
  .sugg-1-left p {
    line-height: normal;
  }
  .lists-div {
    gap: 60px;
  }
}
@media screen and (max-width: 604px) {
  .lists-div {
    gap: 40px;
  }
  .sugg-1 {
    width: 100%;
  }
  .social-main-box {
    flex-direction: column;
  }
  .sugg-1 a {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  .map-heading h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 556px) {
  .map-heading h1 {
    font-size: 34px;
  }
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
  }
  .sugg-1 {
    width: 100%;
  }
  h2 {
    font-size: 24px;
  }
  .activity-para {
    color: white;
  }
  .activity-btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .act-btn {
    padding: 14px 29px;
    font-size: 12px;
  }
  .card-anchor {
    font-size: 13px;
  }
  .card-anchor-div {
    gap: 8px;
  }
  .cards-left-div {
    height: auto;
    width: auto;
  }
  .cards-left-div img {
    height: 100%;
    width: 100%;
  }
  .main-cards-div {
    margin-top: 50px;
  }
  .left-barcode {
    width: 100%;
    padding: 5px;
    gap: 20px;
  }
  .barcode {
    height: 100px;
    width: 100px;
  }
  .social-main-box {
    flex-direction: inherit;
  }
  .company-list {
    margin-block: 30px;
  }
  .lists-div {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .company-list {
    align-items: inherit;
  }
  .app-store {
    width: 100%;
    justify-content: center;
  }
  .activity-heading h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 444px) {
  .act-btn {
    padding: 5px 10px;
  }
  .map-heading h1 {
    font-size: 18px;
  }
  .left-barcode h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 392px) {
  .map-heading h1 {
    font-size: 22px;
  }

  .price-button {
    flex-direction: column;
    align-items: baseline;
  }
  .activity-heading h2 {
    font-size: 18px;
  }
  .cards-left-div {
    height: auto;
    width: auto;
  }
  .act-btn {
    padding: 8px 22px;
  }
  .global-box {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
@media screen and (max-width: 313px) {
  .global-box {
    font-size: 13px;
  }
}
